<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <!-- https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <ul>
            <li><a href='/blog'>Main Blog Page</a></li>
            <li><a href='/new-post'>+Add a Blog Entry</a></li>
        </ul>
    {% block content %}
    {% endblock %}
    </body>
</html>