{% extends "base.html" %}

{% block content %}
    <h1>Edit a Blog Entry</h1>
    <form action='/edit-post' method='POST'>
        <label>
            Title for your blog:
            <br>
            <input class="titlebox" type="text" name='title' value="{{ title }}"/>
            <p class="error">{{ title_error }}</p>
        </label>
        <label>
            Image urls for your blog <em>(optional - multiple urls should be separated with a semicolon)</em>:
            <br>
            <textarea class="imagebox" name='image'>{{ image }}</textarea>
            <br>
            <br>
        </label>
        <label>
            Your blog:
            <br>
            <textarea name="body">{{ body }}</textarea>
            <p class="error">{{ body_error }}</p>
        </label>
        <input type="hidden" name="blog_id" value="{{ blog_id }}">
        <input type="submit" value='Update Entry' />
    </form>

{% endblock %}