{% extends "base.html" %}

{% block content %}
    <h1>Build-a-Blog</h1>

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>

    {% else %}
        {% for blog in blogs %}
        <div class="post_listing">
            <h2><a href='{{ '/blog?id=' + blog.id|string }}'>{{ blog.title }}</a></h2>
            <p>{{ blog.body }}</p>
            <p class="date">{{ blog.pub_date }}</p>
        </div>
        {% endfor %}

    {% endif %}

{% endblock %}